@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

@import './components/sidebar-panels.scss';
@import './components/modal.scss';
@import './components/tabs.scss';
@import './components/fields.scss';