
.silk-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 9999;
}

.silk-modal {
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 610px;
    margin-right: -50%;

    position: absolute;
    top: 55%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    opacity: 0;
    border: 1px solid #e2e4e7;
    background: #fff;
    box-shadow: 0 3px 30px rgba(25,30,35,.2);
    transition: all 0.2s ease-in-out;

    border-radius: 3px;
}
    .silk-modal.ReactModal__Content--after-open {
        opacity: 1;
        top: 50%;
    }

    .silk-modal header {
        box-sizing: border-box;
        display: block;
        height: 50px;
        width: 100%;
        padding: 0px 16px 0px 16px;
        border-bottom: 1px solid #e2e4e7;
    }
        .silk-modal header .silk-svg-component {
            display: inline-block;
            margin: 12px 3px 0px 0px;
            float: left;
        }
            .silk-modal header .silk-svg-component path {
                fill: #0185ba;
            }

        .silk-modal header h4 {
            display: inline-block;
            box-sizing: border-box;
            margin: 16px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            float: left;

            color: rgba(0, 0, 0, 0.6) !important;
            font-size: 16px;
        }

        .silk-modal header a {
            display: block;
            width: 22px;
            height: 18px;
            margin: 14px 0px 0px 0px;
            padding: 3px 0px 0px 0px;
            float: right;

            color: rgba(0, 0, 0, 0.6) !important;
            font-size: 16px;
            text-align: center;
            cursor: pointer;

            border: solid 1px rgba(0, 0, 0, 0.0);
            border-radius: 100px;
        }
            .silk-modal header a:hover {
                border: solid 1px rgba(0, 0, 0, 0.2);
            }

    .silk-modal main {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 8px 16px 16px 16px;
    }
        

    .drop-bt {
        display: block;
        float: right;
        width: 10px !important;
        height: 10px !important;
        padding: 0px 0px 0px 0px !important;
        margin: 5px 0px 0px 0px !important;
        border: solid 1px rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.6) !important;
        border-radius: 100px !important;
    }