

.seobox-settings-section {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: solid 1px #eeeeee;
}
    .seobox-settings-section thead {
        border-bottom: solid 1px #eeeeee;
    }

    .seobox-settings-section .row {
        height: 50px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .seobox-settings-section label.title {
        margin: 0px 0px 0px 0px;
        padding: 8px 0px 0px 0px;
        font-weight: bold;
    }

    .seobox-settings-section h4 {
       font-size: 16px;
       color: #006799;
    }

    .seobox-settings-section .form-wrapper.active {
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: left;
    }
        .seobox-settings-section .form-wrapper.active input[type="checkbox"] {
            margin: 5px 5px 0px 0px;
            padding: 0px 0px 0px 0px;
        }

    .seobox-settings-section .form-wrapper {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
        .seobox-settings-section .form-wrapper label {
            margin: 0px 0px 0px 0px;
            padding: 4px 15px 0px 0px;
        }
        .seobox-settings-section .form-wrapper input[type="radio"] {
            margin: 3px 0px 0px 0px;
            padding: 4px 0px 0px 0px;
        }